    @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
body{
  font-family: "Heebo", sans-serif;
  text-align: center;
  margin: 0px;
}
.container{
  width: 375px;
  height: 100vh;
  margin: 0 auto;
}
.header{
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline: 50px;
  font-size: 30px;
}
.main{
  height: calc(100vh - 50px);
}
.main-title{
  text-align: center;
  font-size: 32px;
}
.main1-title{
  font-size: 16px;
  font-weight: 400;
}
.img-wrapper{
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.img-wrapper img{
  width: 170px;
}
button{
  width: 208px;
  height: 47px;
  border: none;
  background: #FF6464;
  color: #fff;
  font-size: 20px;
}